:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --btn-bck-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* колір фону #FFFFFF */
/* колір основного тексту: #757575; */
/* другорядний колір тексту #212121; */
/* акцент #2196F3 */

.container {
  width: 1200px;
}

.auth-nav {
  width: 1200px;
}

.list {
  list-style: none;
}

/*Logo*/

.logo {
  display: inline-block;
}

.logo {
  color: var(--secondary-text-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web-logo {
  color: var(--accent-color);

  /*Site-nav*/
}
.site-nav .link {
  color: var(--secondary-text-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Auth-nav */
.auth-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* Hero */

.hero-title {
  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Section */

.section .section-title {
  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Advantages  */
.advantages .title {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages .text {
  font-size: 14px;
  line-height: 1.71;
}
/* Button */

button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
}
.button.primary {
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
  align-items: center;
}
.button.secondary {
  background-color: var(--btn-bck-color);
  color: var(--secondary-text-color);
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* Portfolio Main Page */

.examples .title {
  color: var(--secondary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  font-style: normal;
}

.examples .text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  font-style: normal;
}

.examples a {
  text-decoration: none;
}
/* Footer */

.list .name {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.list .position {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.contact .address {
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.contact .info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contact .info:hover,
.contact .info:focus,
.contact .address:hover,
.contact .address:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
